<div class="container border mt-4">
    <div class="box ">
        <h3 class="text-center mt-4 ">Home Section</h3>
        <div class="col-md-12 d-flex justify-content-between p-4">
            <div class="col-md-6">
                <h4>Home</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates ex vel non fugit aliquam doloribus consectetur tempore. Odit doloribus dolore numquam mollitia alias enim facere?</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error velit nobis voluptatibus consectetur quia cum dolore sed, recusandae, ab beatae blanditiis reiciendis quam aspernatur nisi illo. Delectus alias saepe nostrum labore qui nulla vitae quod repellat dicta necessitatibus molestiae ea magni minus ab id atque corporis ullam, amet autem praesentium.</p>
                <button class="btn btn-primary border">Learn More</button>
            </div>
            <div class="col-md-5 border">
                <img src="../../assets/6.jpg" alt="image" class="img-fluid">
            </div>
        </div>
    </div>
  </div>
  <div class="container border mt-3">
    <h3 class="text-center p-3">Users</h3>
    <table class="table">
        <thead>
          <tr class="bg-info">
            <th scope="col">SL No</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let users of localStorageUsers; index as i">
            <th scope="row"><strong>{{i+1}}</strong></th>
            <td>{{users.firstname}}</td>
            <td>{{users.lastname}}</td>
            <td>{{users.email}}</td>
            <td>{{users.password}}</td>
            <td><button type="button" class="delIcon" (click)="deleteUser(i)"><fa-icon [icon]="delIcon" class="delIcon text-danger"></fa-icon></button></td>
          </tr>
        </tbody>
      </table>
  </div>