<!-- Gallery -->
<div class="col-md-10 m-auto">
    <div class="row">
        <div class="box">
            <h3 class="text-center mt-2 mb-2">Gallary</h3>
        </div>
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" routerLink="/gallary-image" />
    
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp" class="w-100 shadow-1-strong rounded mb-4" alt="Wintry Mountain Landscape" routerLink="/gallary-image" />
        </div>
    
        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain2.webp" class="w-100 shadow-1-strong rounded mb-4" alt="Mountains in the Clouds" routerLink="/gallary-image" />
    
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" routerLink="/gallary-image" />
        </div>
    
        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(18).webp" class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" routerLink="/gallary-image" />
    
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain3.webp" class="w-100 shadow-1-strong rounded mb-4" alt="Yosemite National Park" routerLink="/gallary-image" />
        </div>
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" routerLink="/gallary-image" />
    
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp" class="w-100 shadow-1-strong rounded mb-4" alt="Wintry Mountain Landscape" routerLink="/gallary-image" />
        </div>
    
        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain2.webp" class="w-100 shadow-1-strong rounded mb-4" alt="Mountains in the Clouds" routerLink="/gallary-image" />
    
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" routerLink="/gallary-image" />
        </div>
    
        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(18).webp" class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" routerLink="/gallary-image" />
    
            <img src="https://images.unsplash.com/photo-1647776145661-d3526d7c2b7f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" class="w-100 shadow-1-strong rounded mb-4" alt="Yosemite National Park" routerLink="/gallary-image" />
        </div>
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img src="https://images.unsplash.com/photo-1647977021867-7c5adf366da6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" routerLink="/gallary-image" />
    
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp" class="w-100 shadow-1-strong rounded mb-4" alt="Wintry Mountain Landscape" routerLink="/gallary-image" />
        </div>
    
        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="https://images.unsplash.com/photo-1644047039507-c18ddf62d690?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDF8YWV1NnJMLWo2ZXd8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60" class="w-100 shadow-1-strong rounded mb-4" alt="Mountains in the Clouds" routerLink="/gallary-image" />
    
            <img src="https://images.unsplash.com/photo-1645821522733-8eb2015f36a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" routerLink="/gallary-image" />
        </div>
    
        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(18).webp" class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" routerLink="/gallary-image" />
    
            <img src="https://images.unsplash.com/photo-1644754888989-938221bc11b7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDN8YWV1NnJMLWo2ZXd8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60" class="w-100 shadow-1-strong rounded mb-4" alt="Yosemite National Park" routerLink="/gallary-image" />
        </div>
    </div>
</div>

<!-- Gallery -->