.row{
    --bs-gutter-x:0;
    gap: 5px;
}
.col-lg-4{
    width: 33%;
}
.img{
 width: 100%;
 height: 330px;
}
.image-div{
    width: 376px;
    height: 330px;
    margin: 0.4em;
}
.img img{
    height: 330px;
  
}
