<div class="container col-md-4 border mt-4">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center mt-3 mb-3">SignUp</h3>
            <form [formGroup]="signup" (ngSubmit)="onSubmit()">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row mb-4">
                    <div class="col">
                        <div class="form-outline">
                            <input type="text" id="form3Example1" class="form-control" placeholder="First Name" formControlName="firstname" />
                            <!-- <label class=" form-label " for="form3Example1 ">First name</label> -->
                        </div>
                    </div>
                    <div class="col ">
                        <div class="form-outline ">
                            <input type="text " id="form3Example2 " class="form-control " placeholder="Last Name" formControlName="lastname" />
                            <!-- <label class="form-label " for="form3Example2 ">Last name</label> -->
                        </div>
                    </div>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4 ">
                    <input type="email " id="form3Example3 " class="form-control " placeholder="Email" #email formControlName="email" />
                    <!-- <label class="form-label " for="form3Example3 ">Email address</label> -->
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4 ">
                    <input type="password " id="form3Example4 " class="form-control " placeholder="Password " formControlName="password" />
                    <!-- <label class="form-label " for="form3Example4 ">Password</label> -->
                </div>

                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-4 ">
                    <input class="form-check-input me-2 " type="checkbox " value=" " id="form2Example33 " checked />
                    <label class="form-check-label " for="form2Example33 ">
                    Subscribe to our newsletter
                  </label>
                </div>

                <!-- Submit button -->
                <button type="submit " class="btn btn-primary btn-block mb-4 sign-up " routerLink="/login ">Sign up</button>

                <!-- Register buttons -->
                <div class="text-center ">
                    <p>or sign up with:</p>
                    <button type="button " class="btn btn-primary btn-floating mx-1 ">
                    <fa-icon [icon]="faGoogle "></fa-icon>
                  </button>

                    <button type="button " class="btn btn-primary btn-floating mx-1 ">
                    <fa-icon [icon]="faFacebook "></fa-icon>
                  </button>

                    <button type="button " class="btn btn-primary btn-floating mx-1 ">
                    <fa-icon [icon]="faTwitter "></fa-icon>
                  </button>

                    <button type="button " class="btn btn-primary btn-floating mx-1 ">
                    <fa-icon [icon]="faGithub "></fa-icon>
                  </button>
                </div>
            </form>
        </div>
    </div>
</div>