.back a{
    text-decoration: none;
}
.back{
    list-style: none;
    margin-left: 2em;
}
.leftbuttons{
    margin-left: auto;
}

ul li a:hover{
    background-color: #0d6dfd;
    color: white;
}
.ul a{
    /* font-weight: 600; */
    color: #354165
}