<div class="col-md-6 shadow m-auto">
  <div class="alert alert-danger text-center" role="alert" *ngIf="alertActive">
    <span> Wrong Password or Username !!!</span>
  </div>
</div>
<div class="container col-md-4 border shadow form-container">
  <div class="row main-row">
    <div class="col-md-10 m-auto">
      <form [formGroup]="signin" (ngSubmit)="onSubmit()">
        <h3 class="text-center p-4">LogIn</h3>
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input
            type="email" id="text" class="form-control" placeholder="Email" #email formControlName="email" />
            <span class="text-danger mt-1 error_text" *ngIf="submitted && signin.get('email')?.errors?.['required'] ">Enter Valid Email</span>
        </div>
        <!-- Password input -->
        <div class="form-outline mb-4">
          <input
            type="password" id="password" class="form-control" placeholder="Password" #password formControlName="password" />
            <span class="text-danger error_text"  *ngIf="submitted && signin.get('password')?.errors?.['required'] ">Enter Valid Password</span>
        </div>
        <div class="col">
          <!-- Simple link -->
          <a href="#!">Forgot password?</a>
        </div>
        <!-- Submit button -->
        <button
          type="submit"
          class="btn btn-primary btn-block mb-4" > Sign in
        </button>
      </form>
    </div>
  </div>
</div>
