.form-container{
margin: 4em auto;

}
.main-row{
    padding: 1em;
}
.btn{
    margin-top: 2em;
    width: 100%;
}
.error_text{
    font-size: 13px;
    margin-left: 3px;
}
input.ng-invalid.ng-touched {
    border: 1px solid red;
    box-shadow: 0 0 2px red;
}
.col-md-6{
    width: 33.4%;
   /* visibility: hidden; */
}