<header>
  <div class="container">
    <div class="navigation">

      <div class="logo">
        <i class="icon icon-basket"></i>shop42</div>
      <div class="secure">
        <i class="icon icon-shield"></i>
        <span>Secure Checkout</span>

      </div>
    </div>
    <div class="notification">
      Complete Your Purchase
    </div>
  </div>
</header>
<section class="content">
  <div class="container">
  </div>
  <div class="details shadow">
    <div class="details__item">

      <div class="item__image">
        <img class="iphone" src="https://www.apple.com/v/iphone/compare/k/images/overview/compare_iphoneXSmax_silver_large.jpg" alt="">
      </div>
      <div class="item__details">
        <div class="item__title">
          Iphone X
        </div>
        <div class="item__price">
          649,99 £
        </div>
        <div class="item__quantity">
          Quantity: 1
        </div>
        <div class="item__description">
          <ul>
            <li>Super fast and power efficient</li>
            <li>A lot of fast memory</li>
            <li>High resolution camera</li>
            <li>Smart tools for health and traveling and more</li>
            <li>Share your games and achievements with your friends via Group Play</li>
          </ul>

        </div>

      </div>
    </div>

  </div>
  <div class="discount"></div>

  <div class="container">
    <div class="payment">
      <div class="payment__title">
        Payment Method
      </div>
      <div class="payment__types">
        <div class="payment__type payment__type--cc active">
          <i class="icon icon-credit-card"></i>Credit Card</div>
        <div class="payment__type payment__type--paypal">
          <i class="icon icon-paypal"></i>Paypal</div>
        <div class="payment__type payment__type--paypal">
          <i class="icon icon-wallet"></i>SEPA</div>
        <div class="payment__type payment__type--paypal">
          <i class="icon icon-note"></i>Invoice</div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="actions">

      <a href="#" class="btn action__submit">Place your Order
        <i class="icon icon-arrow-right-circle"></i>
      </a>
      <a href="#" class="backBtn">Go Back to Shop</a>

    </div>
  </div>
</section>