.table_div{
    overflow-y: auto;
    height: 250px;
}
.delIcon{
    border: none;
    /* outline: none; */
    background-color: white;
}
.bg-dark{
    color: white;
}
.btn{
    padding: 7px;
}
.page_title{
    margin-bottom: 1em;
    margin-top: 1em;
}
.alert{
    position: absolute;
    width: 84%;
    top: 92px;
text-align: center;
}